<section class="py-3">
    <hr class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-left my-4">Najpopularniejsze filmy na ekranie:</h2>
                <div class="card-columns">
                    <div class="card">
                        <img src="img/plakat-avangers.jpg" alt="" class="img-fluid w-100">
                        <div class="card-body">
                            <h4 class="card-title">Avengers: Koniec gry</h4>
                            <small class="text-muted">Akcja, Sci-Fi</small>
                            <hr>
                            <p class="card-text">Połowa życia w kosmosie przestała istnieć i możliwa jest tylko
                                jedna przyszłość... Czy Avengers i stojący u ich boku Superbohaterowie zdołają
                                odwrócić niszczycielską moc Kamieni Nieskończoności?
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="img/plakat-shazam.jpg" alt="" class="img-fluid w-100">
                        <div class="card-body">
                            <h4 class="card-title">Shazam!</h4>
                            <small class="text-muted">Akcja, Sci-Fi</small>
                            <hr>
                            <p class="card-text">Każdy ma w sobie superbohatera. Potrzeba jedynie odrobinę magii,
                                aby go wydobyć. W przypadku Billy’ego Batsona (Angel) wystarczy wypowiedzieć jedno
                                słowo — SHAZAM. Wówczas ten cwany nastolatek zmienia się w dorosłego superbohatera
                                Shazama (Levi), a wszystko za sprawą starożytnego czarodzieja
                            </p>
                        </div>
                    </div>


                    <div class="card">
                        <img src="img/plakat-green-book.jpg" alt="" class="img-fluid w-100">
                        <div class="card-body">
                            <h4 class="card-title">Green Book</h4>
                            <small class="text-muted">
                                Komedia, Dramat</small>
                            <hr>
                            <p class="card-text">Tony, drobny cwaniaczek z Bronxu, z nadzieją na zgarnięcie
                                konkretnej sumki, zatrudnia się jako szofer wybitnego, ekstrawaganckiego muzyka Dona
                                Shirleya. Razem wyruszają w wielotygodniowe tournée na południe Stanów
                                Zjednoczonych.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-center text-light bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="mb-0">Copyright &copy;
                    <span id="year"></span> Cinema</p>
            </div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
</script>
<script src="js/index.js">
</script>
<script src="js/timer.js">
</script>
</body>

</html>