<%- include('partials/header') %>
<main>
    <section class="py-3">
        <div class="container">
            <div class="row mt-5">
                <div class="col-9 mx-auto">
                    <h2 class="display-5 text-center">Dziękujemy za dokonanie rezerwacji!</h2>
                    <div class="text-right">
                        <a href="/" class="btn btn-dark mt-5">Przejdź do strony głównej</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') %>